<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        <legend>Inicia sesión para acceder a más opciones.</legend>
    </div>
    <div class="col-md-12" *ngIf="identity && identity.sub">
        <form class="col-md-12" role="searchz">
            <div class="form-group col-md-6">
                <label>Mostrar</label>
                <select class="form-control" name="filter" [(ngModel)]="filter" (change)="search();">
                    <option value="0" selected="selected">Todas</option>
                    <option value="2">Para Hacer</option>
                    <option value="3">Finalizadas</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Ordenar por</label>
                <select class="form-control" name="order" [(ngModel)]="order" (change)="search();">
                    <option value="1" selected="selected">Fecha ascendente</option>
                    <option value="2">Fecha descendente</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-10">
                <input type="text" class="form-control" placeholder="¿Que tarea estás buscando?" name="searchString" [(ngModel)]="searchString" />
            </div>
            <button type="submit" class="btn btn-default btn-search" (click)="search();">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Buscar
            </button>
        </form>
        <div class="all-tasks">
            <div class="loader" *ngIf="loading == 'show'">
                <img src='assets/img/loader.gif' />
            </div>
            <table class="table table-hover table-stripped" id="tasks-list" *ngIf="tasks && tasks.length > 0">
                <tr class="task-item" *ngFor="let task of tasks">
                    <td>
                        <h4>
                            <mat-checkbox color="primary" name="updateStatus" (change)="updateStatus(task.id);"></mat-checkbox>
                        </h4>
                    </td>
<!--                    <td>
                        <h4>
                            <span class='label lg-label label-success' *ngIf="task.status == 'finished'">
                                Finalizada
                            </span>
                            <span class='label lg-label label-warning' *ngIf="task.status == 'todo'">
                                Pendiente
                            </span>
                        </h4>
                    </td>-->
                    <td>
                        <h4>
                            <mat-chip-list>
                                <mat-chip color="primary" selected="true" *ngIf="task.status == 'finished'">Finalizada</mat-chip>
                                <mat-chip *ngIf="task.status == 'todo'">Pendiente</mat-chip>
                            </mat-chip-list>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <a class="task strike-through" [routerLink]="['task-edit', task.id]" *ngIf="task.status == 'finished'">{{task.title}}</a>
                            <a class="task" [routerLink]="['task-edit', task.id]" *ngIf="task.status == 'todo'">{{task.title}}</a>
                        </h4>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" matTooltip="Presiona aquí para editar la tarea" [routerLink]="['task-edit', task.id]">Editar</button>
                    </td>
                </tr>
            </table>
            <div class='col-md-12' *ngIf="loading == 'hide' && (!tasks || tasks.length == 0)">
                <div class='clearfix'></div>
                <div class="alert alert-warning" >
                    No se han encontrado tareas. Crealas, haciendo <a [routerLink]="['/task-new']">click aquí</a>
                </div>
            </div>
            <ul class="pagination" *ngIf="tasks && totalItemsCount > 10" >
                <li>
                    <a [routerLink]="['/index', pagesPrev]" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngFor="let page of pages" >
                    <a [routerLink]="['/index', page+1]">
                        {{page+1}}
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/index', pagesNext]" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
