<div class='col-md-12'>
    <!--<h3>{{title}}</h3>-->
    <!--<br />-->

    <div class="identity-alert alert alert-success" *ngIf="identity && identity.sub">
         Te has identificado correctamente. Bienvenido {{identity.email}}
    </div>
    <div class="identity-alert alert alert-danger" *ngIf="identity && identity.data">
         No te has identificado correctamente.
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
<!--        <p>
            <label>Tu email</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required />
            <span *ngIf="!email.valid && email.touched">El email no es válido.</span>
        </p>
        <p>
            <label>Tu contraseña</label>
            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required />
            <span *ngIf="!password.valid && password.touched">El password no es válido.</span>
        </p>
        <br />
        <input type="submit" value="Entrar" class="btn btn-primary" name="password" [disabled]="!loginForm.form.valid" />-->
        <legend>{{title}}</legend>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Tu email" name="email" [(ngModel)]="user.email" [formControl]="emailFormControl"
                 [errorStateMatcher]="matcher">
          <!--<mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Tu password" value="Password123" type="password" name="password" #password="ngModel" [(ngModel)]="user.password">
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Entrar</button>
    </form>
</div>


<!--<button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pizza party
</button>-->
