<div class="col-md-12">
    
    <div class="loader" *ngIf="loading == 'show'">
        <img src='assets/img/loader.gif' />
    </div>

    <div class="col-md-12" *ngIf="!loading || task">
        <h3>{{page_title}}</h3>

        <div class="alert alert-success" *ngIf="status_task == 'success'">
            Tarea creada correctamente.
        </div>

        <div class="alert alert-danger" *ngIf="status_task == 'error'">
            Error al crear la tarea.
        </div>     

        <form #taskNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
            <p>
                <label>Tarea</label>
                <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="task.title" required />
                <span *ngIf="!title.valid && title.touched">El título no es correcto.</span>
            </p>
            <p>
                <label>Descripción</label>
                <textarea class="form-control" rows="5" name="description" #description="ngModel" [(ngModel)]="task.description" ></textarea>
            </p>

            <input type="submit" value="{{page_title}}" class="btn btn-success" [disabled]="!taskNewForm.form.valid" />

            <a href="#myModal" role="button" class="btn btn-large btn-danger" data-toggle="modal" *ngIf='task.id != 0'>Borrar</a>

            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Estás seguro?</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-warning">Eliminar definitivamente la tarea?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTask(task.id)">Sí, quiero borrarla.</button>
                        </div>
                    </div>
                </div>
            </div>

<!--        <div class='panel panel-default task-data'>
            <div class='panel-heading'>
                <h3 class='panel-title'>
                    Tarea creada por <strong>{{task.user.name + ' ' + task.user.surname}}</strong>
                    el {{task.createdAt.timestamp | generateDate }}
                </h3>
            </div>
            <div class='panel-body'>
                {{task.description}}
            </div>
        </div>-->


        </form>
    </div>
</div>
