<mat-toolbar color="primary">
    <ul class="nav navbar-nav">
        <li>
            <!--<a mat-button matTooltip="Inicio" [routerLink]="['/index/1']"><mat-icon>home</mat-icon></a>-->
            <a mat-button [routerLink]="['/index/1']">Inicio</a>
        </li>
        <li>
            <!--<a mat-button matTooltip="Crear tarea" [routerLink]="['/task-new']" *ngIf="identity && identity.sub"><mat-icon>add circle outline</mat-icon></a>-->
            <a mat-button [routerLink]="['/task-new']" *ngIf="identity && identity.sub">Crear tarea</a>
        </li>
    </ul>
    <ul class="nav navbar-nav" *ngIf="identity && identity.sub">
        <li>
            <!--<a mat-button matTooltip="Configurar mi cuenta" [routerLink]="['/user-edit']"><mat-icon>settings</mat-icon></a>-->
            <a mat-button [routerLink]="['/user-edit']">Mis datos</a>
        </li>
        <li>
            <!--<a mat-button matTooltip="Cerrar sesión" [routerLink]="['/login/1']"><mat-icon>redo</mat-icon></a>-->
            <a mat-button [routerLink]="['/login/1']">Salir</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
            <a mat-button [routerLink]="['/login']">Acceder</a>
        </li>
        <li>
            <a mat-button [routerLink]="['/register']">Registrar</a>
        </li>
    </ul>
</mat-toolbar>
<br />
<router-outlet></router-outlet>
