   <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Material Design Lite</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">

        <div class="demo-container mdl-grid">

          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

<mat-toolbar color="primary">
    <ul class="nav navbar-nav">
        <li>
            <!--<a mat-button matTooltip="Inicio" [routerLink]="['/index/1']"><mat-icon>home</mat-icon></a>-->
            <a mat-button [routerLink]="['/index/1']">Inicio</a>
        </li>
        <li>
            <!--<a mat-button matTooltip="Crear tarea" [routerLink]="['/task-new']" *ngIf="identity && identity.sub"><mat-icon>add circle outline</mat-icon></a>-->
            <a mat-button [routerLink]="['/task-new']" *ngIf="identity && identity.sub">Crear tarea</a>
        </li>
    </ul>
    <ul class="nav navbar-nav" *ngIf="identity && identity.sub">
        <li>
            <!--<a mat-button matTooltip="Configurar mi cuenta" [routerLink]="['/user-edit']"><mat-icon>settings</mat-icon></a>-->
            <a mat-button [routerLink]="['/user-edit']">Mis datos</a>
        </li>
        <li>
            <!--<a mat-button matTooltip="Cerrar sesión" [routerLink]="['/login/1']"><mat-icon>redo</mat-icon></a>-->
            <a mat-button [routerLink]="['/login/1']">Salir</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
            <a mat-button [routerLink]="['/login']">Acceder</a>
        </li>
        <li>
            <a mat-button [routerLink]="['/register']">Registrar</a>
        </li>
    </ul>
</mat-toolbar>
<br />
<router-outlet></router-outlet>

          </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
              <li><a href="#">User Agreement</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
